
 <% include ../partials/head %>

<body>
   <% if(title == "Home") { %>
    <nav class="navbar navbar-inverse navbar-transparent">
   <% } else { %>   
 <nav class="navbar navbar-inverse navbar-custom">
   <% } %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Vishavdeep Kaur</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if(title == "Home") { %>
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <% } else { %>
          <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
         <% } %>
         <% if(title == "About Me") { %>
        <li class = "active"><a href="/about">About me</a></li>
        <% } else { %>
        <li><a href="/about">About me</a></li>
        <% } %>
         <% if(title == "Projects") { %>
        <li class="active"><a href="/projects">Projects</a></li>
        <% } else { %>
        <li><a href="/projects">Projects</a></li>
         <% } %> <% if(title == "Services") { %>
        <li class= "active"><a href="/services">Services</a></li>
         <% } else { %>
        <li><a href="/services">Services</a></li>
        
         <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a href="/contact">Contact me</a></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->

         
        
          <% if(typeof displayName == 'string' && displayName) { %>
          <% if(title == "business contacts") { %>
          <li class="active"><a href="/businessContacts"><i class="fa fa-book fa-lg">
          </i> Business Contacts</a></li>
          <% } else { %>
            <li><a href="/businessContacts"><i class="fa fa-book fa-lg">
            </i> Business Contacts</a></li>
          <% } %>
        <% } %>

         <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fa fa-user"></i> Welcome, <%= displayName %></li>
          <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        <% } else { %>
          <li><a href="/login"><i class="fa fa-sign-in fa-1x"></i> Login</a></li>
        <% } %>
      </ul>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>