
 <% include ../partials/header %>


<div class="container contact-info">
      <!-- Example row of columns -->
      <div class="row">
      <div class="col-xs-12"><h1>Contact Me</h1></div>

        <div class="col-md-4 contact-sub-col">
        <div class='sub-col-inner'>
          <h2><span class="fa fa-2x fa-phone" aria-hidden="true"></span></h2>
          <p>Phone :647-206-5751 </p>
          <p><a class="btn btn-default" href="#" role="button">About me</a></p>
        </div></div>
        <div class="col-md-4 contact-sub-col">
           <div class='sub-col-inner'>
          <h2><span class="fa fa-2x fa-envelope" aria-hidden="true"></span></h2>
             <p>my projects </p>
          <p><a class="btn btn-default" href="#" role="button">View Projects</a></p>
       </div> </div>
        <div class="col-md-4 contact-sub-col">
           <div class='sub-col-inner'>
          <h2><span class="fa fa-2x fa-github" aria-hidden="true"></span></h2>
          <p>Connect with me</p>
          <p><a class="btn btn-default" href="#" role="button">Contact Me</a></p>
        </div>
      </div> </div>

      <hr>
    </div>



 <% include ../partials/imports %>

</body>
<footer> <% include ../partials/footer %></footer>

</html>