

  <div class="outercontainer">
    <!--<div class="jumbotron">-->
<% include ../partials/header %>
    <div class="container">
  
      <p class = "heading">Welcome to my page</p>
      <p class="heading2">I am talented software developer <p> 
      <br>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">View my projects</a></p>-->
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
       
          <p><a class="btn btn-default landingButton" href="/about" role="button">About me</a></p>
        </div>
        <div class="col-md-4">
         
       
          <p><a class="btn btn-default landingButton" href="/projects" role="button">View Projects</a></p>
        </div>
        <div class="col-md-4">
    
      
          <p><a class="btn btn-default landingButton" href="/contact" role="button">Contact Me</a></p>
        </div>
      </div>

      <hr>
    </div>



    <% include ../partials/imports %>
  
  </div>

    <% include ../partials/footer %>


  </html>