<!DOCTYPE html>
<html lang="en">

<head>
 <% include ../partials/head %>
</head>

<body>
 <% include ../partials/header %>



<div class="jumbotron">
      <div class="container">
        <h1>My Projects</h1>
        <p>View my projects</p> 
        <br> 
      </div>
    </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Real Estate Project</h2>
          <p>learn more about me </p>
          <p><a class="btn btn-default" href="http://studentweb.cencol.ca/vkaur25/WebDesignPrject/project.html" role="button">About me</a></p>
        </div>
        <div class="col-md-4">
          <h2>Student Profile</h2>
             <p>view student profile on centennial college network</p>
          <p><a class="btn btn-default" href="http://studentweb.cencol.ca/vkaur25/" role="button">View Projects</a></p>
       </div>
        <div class="col-md-4">
          <h2>Bug Smasher Game</h2>
          <p>game made with javascript</p>
          <p><a class="btn btn-default" href="http://studentweb.cencol.ca/vkaur25/game/assignment4.html" role="button">Contact Me</a></p>
        </div>
      </div>

      <hr>
    </div>



 <% include ../partials/imports %>

</body>
<footer> <% include ../partials/footer %></footer>

</html>