<!DOCTYPE html>
<html lang="en">

<head>
 <% include ../partials/head %>
</head>

<body>
 <% include ../partials/header %>



<div class="jumbotron">
      <div class="container">
        <h1>Welcome</h1>
        <p>I am Vishavdeep. I am currently a third year student at Centennial college studying software Engineering. I also have a Bachelor's degree in Computer Science and a professional diploma in Java Programming. I am deep dived in Front end web development. I have been programming for years mostly in Javascript, Java and C#.</p> 
        <br> 
        <p><a class="btn btn-primary btn-lg" href="#" role="button">View my projects</a></p>
      </div>
    </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About me</h2>
          <p>learn more about me </p>
          <p><a class="btn btn-default" href="#" role="button">About me</a></p>
        </div>
        <div class="col-md-4">
          <h2>Projects</h2>
             <p>my projects </p>
          <p><a class="btn btn-default" href="#" role="button">View Projects</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contact Me</h2>
          <p>Connect with me</p>
          <p><a class="btn btn-default" href="#" role="button">Contact Me</a></p>
        </div>
      </div>

      <hr>
    </div>



 <% include ../partials/imports %>

</body>
<footer> <% include ../partials/footer %></footer>

</html>